<!--Name: index.ejs
    Author: Karlin Green
    Site Name: Pub Stop (The one stop app for pub crawling).
    Purpose: Universal heder for all views to allow for easier navigation editing.
    -->
<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0">

    <link rel='stylesheet' href='/stylesheets/style.css' />
    <!-- Latest compiled and minified CSS -->
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">

      <!-- Optional theme -->
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css">
  </head>
  <body>

    <!-- Navigation for future reference -->
    <nav class="navbar navbar-inverse">
      <ul>
        <li></li>
        <li></li>
        <li></li>
      </ul>
    </nav>
</body>
</html>
