<!--Name: index.ejs
    Author: Karlin Green
    Site Name: Pub Stop (The one stop app for pub crawling).
    Purpose: this page will serve as a welcome page for new and experienced visitors.
  -->
  
<%- include partials/header.ejs %>
<div class="container well">
  <section id="content" class="col-xs-10 col-xs-offset-1 col-s-10 col-s-offset-1 col-md-10 col-md-offset-1 col-lg-10 col-lg-offset-1">
    <h1><%= title %></h1>
    <p>Welcome to <%= title %>. Wether you are a social drinker, or
    you are a regular party animal this is the perfect place for you!</p>
  </section>
</div>
<%- include partials/footer.ejs %>
