<!--Name: pubList.ejs
    Author: Karlin Green
    Site Name: Pub Stop (The one stop app for pub crawling).
    Purpose: This will be the page where the pub details will be listed.
    -->

<%- include partials/header.ejs %>
<div class="container">
  <section id="content">
    <table>
      <tbody>
        <tr>
          <td></td>
        </tr>
      </tbody>
    </table>
  </section>
</div>
<%- include partials/footer.ejs %>
