<!--Name: pubList.ejs
    Author: Karlin Green
    Site Name: Pub Stop (The one stop app for pub crawling).
    Purpose: This will be the page where the pub details will be listed.
    -->

<%- include partials/header.ejs %>
<div class="container" id="tContent">
  <h1><%= title %></h1>
  <section id="pubTable">
    <table class="table table-striped table-bordered table-responsive ">
      <tbody>
        <th>
          Name
        </th>
        <th>
          Phone
        </th>
        <th>
          Address
        </th>
        <th>
          Owner
        </th>
        <th>
          Email
        </th>
        <th>
          Update
        </th>
        <tr>
          <td>Example</td>
          <td>1-888-907-8857</td>
          <td>188 Cool St.</td>
          <td>Maury Mckevich</td>
          <td>MckMaury@Example.com</td>
          <td><a href="../updateList" class="btn btn-success">Update!</a></td>
        </tr>
        <tr>
          <td>Example 2</td>
          <td>770-856-4309</td>
          <td>165 Ashburry Rd.</td>
          <td>Ryan O'Riley</td>
          <td>ORyan@Example2.co.ca</td>
          <td><a href="../updateList" class="btn btn-success">Update!</a></td>
        </tr>
      </tbody>
    </table>
  </section>
  <section>
    <p><a href="../addPub" class="btn btn-primary">Add a Pub!</a></p>
  </section>
  <section id="authLinks">
    <p>Want to add a Pub to the list? <a href="../signIn">Sign in here!</a> OR <a href="../signUp"> Create an account! </a></p>
  </section>
</div>
<%- include partials/footer.ejs %>
