<%- include ../partials/header.ejs %>
<div class="container col-xs-4 col-xs-offset-4 col-s-4 col-s-offset-4 col-md-3 col-md-offset-4 col-lg-3 col-lg-offset-4" id="content">
  <div>
    <h1 id="sfTitle"><%= title %></h1>
    <form id="Form">
      <label for="pName">Pub Name: </label>
      <input id="pName" type="text"></input>
    </br>
      <label for="Phone">Phone Number: </label>
      <input id="Phone" type="phone"></input>
    </br>
      <label for="pAddr">Pub Address: </label>
      <input id="pAddr" type="text"></input>
    </br>
      <label for="pOwner">Pub Owner: </label>
      <input id="pOwner" type="text"></input>
    </br>
      <label for="pEmail">Pub Email: </label>
      <input id="pEmail" type="text"></input>
    </br>
    </form>
</div>
</div>
<%- include ../partials/footer.ejs %>
