<!--Name: authPubList.ejs
    Author: Karlin Green
    Site Name: Pub Stop (The one stop app for pub crawling).
    Purpose: This will be the page where the pub details will be listed, and edited by tuthenticated users.
    -->

<%- include ../partials/header.ejs %>
<div class="container well" id="tContent">
  <h1><%= title %></h1>
  <section id="pubTable">
    <table class="table table-striped table-bordered table-responsive ">
      <tbody>
        <th>
          Name
        </th>
        <th>
          Phone
        </th>
        <th>
          Address
        </th>
        <th>
          Owner
        </th>
        <th>
          Email
        </th>
        <th>
          Update
        </th>
        <tr>
          <td>Example</td>
          <td>1-888-907-8857</td>
          <td>188 Cool St.</td>
          <td>Maury Mckevich</td>
          <td>MckMaury@Example.com</td>
          <td><a href="/updateList" class="btn btn-success">Update!</a></td>
        </tr>
      </tbody>
    </table>
  </section>
  <section>
    <p><a href="/add" class="btn btn-primary">Add a Pub!</a></p>
  </section>
  <!-- <section id="authLinks">
 <p>Want to add a Pub to the list? <a href="../signIn">Sign in here!</a> OR <a href="../signUp"> Create an account! </a></p>
  </section> -->
</div>
<%- include ../partials/footer.ejs %>
