<!--Name: updateList.ejs
    Author: Karlin Green
    Site Name: Pub Stop (The one stop app for pub crawling).
    Purpose: For users to update data in the pubList
    -->


<%- include ../partials/header.ejs %>
<div class="container col-xs-5 col-xs-offset-4 col-s-5 col-s-offset-4 col-md-3 col-md-offset-4 col-lg-3 col-lg-offset-4" id="content">
  <div class="well">
    <h1 id="sfTitle"><%= title %></h1>
    <form id="form">
      <fieldset class="form-group">
        <label for="UdtPname">Pub Name: </label>
        <input id="UdtPname" type="text"></input>
      </fieldset>
      <fieldset class="form-group">
        <label for="udtPhone">Phone Number: </label>
        <input id="udtPhone" type="phone"></input>
      </fieldset>
      <fieldset class="form-group">
        <label for="UdtPaddr">Pub Address: </label>
        <input id="UdtPaddr" type="text"></input>
      </fieldset>
      <fieldset class="form-group">
        <label for="pOwner">Pub Owner: </label>
        <input id="pOwner" type="text"></input>
      </fieldset>
      <fieldset class="form-group">
        <label for="pEmail">Pub Email: </label>
        <input id="pEmail" type="text"></input>
      </fieldset>
    <button type="submit" class="btn btn-info">Submit</button>

    </form>
</div>
</div>
<%- include ../partials/footer.ejs %>
