<!--Name: updateList.ejs
    Author: Karlin Green
    Site Name: Pub Stop (The one stop app for pub crawling).
    Purpose: For users to update data in the pubList
    -->


<%- include ../partials/header.ejs %>
<div class="container col-xs-6 col-xs-offset-3 col-s-6 col-s-offset-3 col-md-5 col-md-offset-3 col-lg-5 col-lg-offset-3" id="content">
  <div>
    <h1 id="sfTitle"><%= title %></h1>
    <form id="Form">
      <label for="UdtPname">Pub Name: </label>
      <input id="UdtPname" type="text"></input>
    </br>
      <label for="udtPhone">Phone Number: </label>
      <input id="udtPhone" type="phone"></input>
    </br>
      <label for="UdtPaddr">Pub Address: </label>
      <input id="UdtPaddr" type="text"></input>
    </br>
      <label for="pOwner">Pub Owner: </label>
      <input id="pOwner" type="text"></input>
    </br>
      <label for="pEmail">Pub Email: </label>
      <input id="pEmail" type="text"></input>
    </br>
    </form>
</div>
</div>
<%- include ../partials/footer.ejs %>
